PASSWORD='hashed.root.password'

TOKEN='refresh.token'
# DB_STRING='host=ep-broad-mode-a6d8x1b8-pooler.us-west-2.aws.neon.tech user=default password=password.here dbname=verceldb port=5432'
# DB_STRING='host=91.228.198.62 user=klimson password=mlotek2000 dbname=harcquiz port=5432 sslmode=disable'
DB_STRING="postgres://postgres:example_database@127.0.0.1:5433/d_base1"

SPOTIFY_CLIENT_ID="your.spotify.id.here"
SPOTIFY_CLIENT_SECRET="your.client.secret.here"

APP_ENV="local"

RDB_PASS="redis.database.password"
RDB_URL="rdb.database.url"

SPOTIFY_REFRESH_TOKEN="refresh.token.spotify"
