@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');



html {
  touch-action: manipulation;
  overscroll-behavior-y: none; 
}

body,
h1,
h2,
p,
h3 {
	font-family: 'Poppins', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	
}







@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-primary-background: var(--color-neutral-100);
  --color-background: var(--color-white);
  --color-foreground: var(--color-neutral-100);

  --color-widget-background: var(--color-zinc-50);
  --color-widget-border: var(--color-neutral-400);

  --color-spotify: var(--color-green-500);

  --color-cpu-good: var(--color-green-400);
  --color-cpu-warn: var(--color-orange-400);
  --color-cpu-bad: var(--color-red-600);


  --color-text: var(--color-neutral-900);
  --color-secondary-text: var(--color-neutral-500);

  --color-primary: var(--color-neutral-700);
  --color-primary-foreground: var(--color-white);
  --color-danger: var(--color-red-500)
  
  --color-muted: var(--color-neutral-100);
  --color-muted-foreground: var(--color-neutral-500);
  
  --color-border: var(--color-neutral-200);

  --bookmark-0: var(--color-violet-800);
  --bookmark-1: var(--color-red-800);
  --bookmark-2: var(--color-green-800);
  --bookmark-3: var(--color-indigo-800);
  --bookmark-4: var(--color-amber-800);
  --bookmark-5: var(--color-orange-800);
  --bookmark-6: var(--color-yellow-800);
  --bookmark-7: var(--color-neutral-800);
}

[data-theme="dark"] {
  --color-primary-background: var(--color-neutral-950);
  --color-background: var(--color-neutral-900);
  --color-foreground: var(--color-transparent);

  --color-widget-background: var(--color-transparent);
  --color-widget-border: var(--color-border);
  
  --color-spotify: var(--color-green-500);

  --color-cpu-good: var(--color-green-400);
  --color-cpu-warn: var(--color-orange-400);
  --color-cpu-bad: var(--color-red-600);

  --color-text: var(--color-white);
  --color-secondary-text: var(--color-neutral-400);

  --color-primary: var(--color-blue-700);
  --color-primary-foreground: var(--color-black);
  
  --color-danger: var(--color-red-500);
	
  
  --color-muted: #18181b;
  --color-muted-foreground: #a1a1aa;
  
  --color-border: #27272a;

  --bookmark-0: var(--color-violet-800);
  --bookmark-1: var(--color-red-800);
  --bookmark-2: var(--color-green-800);
  --bookmark-3: var(--color-indigo-800);
  --bookmark-4: var(--color-amber-800);
  --bookmark-5: var(--color-orange-800);
  --bookmark-6: var(--color-yellow-800);
  --bookmark-7: var(--color-neutral-800);

}

[data-theme="candy"] {
  --color-primary-background: var(--color-rose-200);
  --color-background: var(--color-rose-100);
  --color-foreground: var(--color-rose-300);

  --color-widget-background: var(--color-rose-50);
  --color-widget-border: var(--color-rose-300);
  
  --color-spotify: var(--color-rose-600);

  --color-cpu-good: var(--color-rose-600);
  --color-cpu-warn: var(--color-rose-600);
  --color-cpu-bad: var(--color-red-600);

  --color-text: var(--color-rose-950);
  --color-secondary-text: var(--color-rose-800);

  --color-primary: var(--color-rose-600);
  --color-primary-foreground: var(--color-white);
  --color-danger: var(--color-red-600);
  
  --color-muted: var(--color-rose-200);
  --color-muted-foreground: var(--color-rose-900);
  
  --color-border: var(--color-rose-300);
  --bookmark-0: var(--color-rose-800);
  --bookmark-1: var(--color-pink-800);
  --bookmark-2: var(--color-fuchsia-800);
  --bookmark-3: var(--color-purple-800);
  --bookmark-4: var(--color-rose-900);
  --bookmark-5: var(--color-pink-900);
  --bookmark-6: var(--color-red-800);
  --bookmark-7: var(--color-rose-950);
}

[data-theme="bubble-tea"] {
  --color-primary-background: var(--color-stone-100);
  --color-background: var(--color-stone-50);
  --color-foreground: var(--color-stone-200);

  --color-widget-background: var(--color-transparent);
  --color-widget-border: var(--color-border);

  --color-text: var(--color-stone-800);
  --color-secondary-text: var(--color-stone-600);

  --color-primary: var(--color-pink-300);
  --color-primary-foreground: var(--color-stone-950);

  --color-muted: var(--color-stone-100);
  --color-muted-foreground: var(--color-stone-500);

  --color-border: var(--color-stone-300);

  --color-cpu-good: var(--color-emerald-500);
  --color-cpu-warn: var(--color-amber-500);
  --color-cpu-bad: var(--color-red-500);

  --color-spotify: var(--color-pink-400);

  --bookmark-0: var(--color-amber-700);
  --bookmark-1: var(--color-pink-500);
  --bookmark-2: var(--color-violet-500);
  --bookmark-3: var(--color-teal-500);
  --bookmark-4: var(--color-orange-500);
  --bookmark-5: var(--color-rose-400);
  --bookmark-6: var(--color-brown-600); /* jeśli brak - stone-700 */
  --bookmark-7: var(--color-stone-800);
}

[data-theme="blackout"] {
  --color-primary-background: var(--color-neutral-900);
  
  --color-widget-background: var(--color-neutral-950);
  --color-widget-border: var(--color-neutral-800);

  --color-spotify: var(--color-red-700);

  --color-cpu-good: var(--color-red-700);
  --color-cpu-warn: var(--color-red-700);
  --color-cpu-bad: var(--color-red-500);

  --color-background: var(--color-neutral-950);
  --color-foreground: var(--color-neutral-900);

  --color-text: var(--color-neutral-100);
  --color-secondary-text: var(--color-neutral-400);

  --color-primary: var(--color-red-600);
  --color-primary-foreground: var(--color-white);
  --color-danger: var(--color-red-500);
  
  --color-muted: var(--color-neutral-900);
  --color-muted-foreground: var(--color-neutral-500);
  
  --color-border: var(--color-neutral-800);

  --bookmark-0: var(--color-neutral-900);
  --bookmark-1: var(--color-neutral-800);
  --bookmark-2: var(--color-zinc-900);
  --bookmark-3: var(--color-zinc-800);
  --bookmark-4: var(--color-neutral-900);
  --bookmark-5: var(--color-red-950);
  --bookmark-6: var(--color-neutral-800);
  --bookmark-7: var(--color-neutral-900);
}

[data-theme="chomikuj"] {
  --color-primary-background: var(--color-background);
  
  --color-widget-background: var(--color-background);
  --color-widget-border: var(--color-amber-300);

  --color-spotify: var(--color-amber-600);

  --color-cpu-good: var(--color-amber-600);
  --color-cpu-warn: var(--color-orange-500);
  --color-cpu-bad: var(--color-red-600);

  --color-background: var(--color-amber-100);
  --color-foreground: var(--color-amber-200);

  --color-text: var(--color-amber-950);
  --color-secondary-text: var(--color-amber-800);

  --color-primary: var(--color-orange-600);
  --color-primary-foreground: var(--color-white);
  --color-danger: var(--color-red-600);
  
  --color-muted: var(--color-amber-200);
  --color-muted-foreground: var(--color-amber-700);
  
  --color-border: var(--color-amber-300);

  --bookmark-0: var(--color-amber-700);
  --bookmark-1: var(--color-orange-700);
  --bookmark-2: var(--color-yellow-700);
  --bookmark-3: var(--color-amber-800);
  --bookmark-4: var(--color-orange-800);
  --bookmark-5: var(--color-amber-900);
  --bookmark-6: var(--color-yellow-800);
  --bookmark-7: var(--color-orange-900);
}